{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="content col-8">
  <h1>About This Website:</h1>
  <hr>

  <section class="container msgForm">
    <p>This website was designed and coded by me, all rights reserved.</p>
    <p>The technologies used are HTML5 and CSS3 for the Front-End, as well as
      Python and Django for the Back-End.</p>
    <p>Deployed on Heroku.  </p>
    <!-- <figure>
      <img src="https://s12.favim.com/orig/160406/cat-catstruction-play-on-words-construction-cats-Favim.com-4174852.jpeg" alt="A cat with a safety helmet (Subtitle: Under Construction)">
      <figcaption>Picture from <a href="https://favim.com/image/4174852/">https://favim.com/image/4174852/</a></figcaption>
    </figure> -->
  </section>

</div>

{% endblock %}
