<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Rafael Ribeiro</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

  </head>
  <body>

    <nav class="custom-navbar navbar-dark py-4 sticky-top">
      <div class="container">

      <ul class="nav-main nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main_page:contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="nav-side nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>
    </div>
    </nav>

      {% block body_block %}
      {% endblock %}

    <footer class="footer">
      <div class="container">
        <a href="https://github.com/rapacheco"><img src="{% static 'media/github.png' %}" alt="GitHub"></a>
        <a href="https://www.facebook.com/rapachecobeiro"><img src="{% static 'media/facebook.png' %}" alt="Facebook"></a>
        <a href="https://twitter.com/rapachecobeiro"><img src="{% static 'media/Twitter.png' %}" alt="Twitter"></a>
      </div>
    </footer>

  </body>
</html>
