{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

  <div class="center">
    <div class="title">
      <h1>Rafael Ribeiro</h1>
      <hr>
      <h2>Computer Programmer</h2>
    </div>
    <img class="photo" src="https://media.licdn.com/dms/image/C5103AQE6IsCCFQ8ofw/profile-displayphoto-shrink_200_200/0?e=1531958400&v=beta&t=D-9TihZjhNfyotXlwx0LtfwN6qQSEX0tGpwO89BWw5c" alt="A photo of myself">
  </div>

  <article class="about-me col-8" style="z-index: -1; margin: auto;">
    <hr style="width: 80%;">
    <p>Absolutely passionate about programming, and always eager to learn new
      things and to improve myself daily. Quick learner and detail-oriented,
      able to work well in teams and to communicate clearly. I am currently
      enrolled in the Computer Programming & Analysis Program at Seneca College,
      where I'm learning and mastering a range of programming languages,
      frameworks, and technologies like C, C++, HTML5, CSS, Javascript, JQuery,
      Bootstrap, Node.js, Express.js, MongoDB, PostgreSQL, and Oracle SQL. In
      my free time, I like to play around with Python, sometimes developing
      simple games with Pygame, and some other times developing web apps with
      Django. Currently looking for a co-op position for the Fall term, where I
      hope to be able to contribute to the success of the Company while
      continuing to improve myself.</p>
    <p>Please visit my <a href="https://github.com/rapacheco">Github</a> page to
      have a look at some side projects of mine, and also feel free to visit my
      <a href="https://www.linkedin.com/in/rafael-pacheco-ribeiro/">LinkedIn</a>
      page. Lastly, you can download a copy of my current Resume
      <a href="{% url 'main_page:resume' %}">here</a>.</p>
      <a href="https://twitter.com/rapachecobeiro">hello</a>
  </article>

  <article class="content col-8" style="margin: auto;">
    <h2>Skills</h2>
    <!-- <hr> -->
    <!-- <p>These are the technologies I am most familiarized about:</p> -->
    <div class="table-responsive-md">
      <table class="skills table">
        <tr>
          <td><img src="{% static 'media/python.png' %}" alt="Python"></td>
          <td><img src="{% static 'media/django.png' %}" alt="Django"></td>
          <td><img src="{% static 'media/js.png' %}" alt="JavaScript"></td>
        </tr>
        <tr>
          <td><img src="{% static 'media/html.png' %}" alt="HTML5"></td>
          <td><img src="{% static 'media/css.png' %}" alt="CSS"></td>
          <td><img src="{% static 'media/c.jpg' %}" alt="C"></td>
        </tr>
      </table>
    </div>
  </article>


{% endblock %}
