{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="content col-8">
  <h1>Projects Portfolio:</h1>
  <hr>
  <!-- <p>Please fill the form below to send a message directly to me. I'll be sure to answer it in no time!</p> -->

  <section class="container msgForm">
    <h4>Sorry, this page is still</h4>
    <figure>
      <img src="https://s12.favim.com/orig/160406/cat-catstruction-play-on-words-construction-cats-Favim.com-4174852.jpeg" alt="A cat with a safety helmet (Subtitle: Under Construction)">
      <figcaption>Picture from <a href="https://favim.com/image/4174852/">https://favim.com/image/4174852/</a></figcaption>
    </figure>
  </section>

</div>

{% endblock %}
